<!DOCTYPE html>
<html>
    <head>
        <title>Productos</title>
    </head>
    
    <body>
        <h1>Productos De Informática</h1>
            {% for producto in productos%}
                <li>{{ producto['nombre'] }}: ${{ producto['precio']}}
                    <a href="/editar/{{ producto['nombre']}}/{{producto['precio']}}" >Editar</a>
                    <a href="/eliminar/{{ producto['nombre']}}" onclick="return confirm('Seguro que deseas eliminar?')">Eliminar</a>
                </li>
            {% endfor%}
        
    </body>
</html>
